@import-normalize;
@import '../styles/variables.scss';

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h2 {
    font-size: 3.85rem;
    font-weight: 500;
    line-height: 5rem;
    letter-spacing: 0.4px;
    margin-bottom: 3.6rem;
}

p {
    font-size: 1.6rem;
    font-weight: 300;
    hyphens: auto;
    line-height: 2.6rem;
    word-break: break-word;
}

p.multi-col {
    column-count: 2;
    column-gap: 20px;
}

span#page-id {
    bottom: 2.7rem;
    color: $color-additional--light;
    font-size: 8rem;
    font-weight: 700;
    left: 25rem;
    position: absolute;
    text-orientation: mixed;
    transform-origin: center;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    z-index: -10;
}
